package templates

templ Index() {
    <html>
    <head>
        <title>Pomodoro Timer</title>
    </head>
    <body>
        <div>Your friendly pomodoro timer web app!</div>
        @pomodoro("test", 60)
    </body>
    </html>
}